* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #2f3544;
}

body {
  background-color: #2f3544;
}

.input-group {
  width: 60%;
}

.card {
  max-width: 60%;
}
